@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 30px;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 14px;
  text-shadow: 5px 4px 5px black;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url("img/Bilgewater\ \(Legends\ of\ Runeterra\).png");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}



.class-nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #menuSuperior ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
  flex-direction: row;
}

#menuSuperior li {
  float: left;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
  padding: 0 20px;
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: row;
} */

/* .barra {
  margin-top: 30px;
} */

.button {

  color: #fff;
  font-size: 30px;
  font-weight: 600;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  background: none;
  border: none;
  text-shadow: 5px 4px 5px black;
  cursor: pointer;
  text-align: space-around;
  text-align: space-around;
  display: flex;

}

.img {
  width: 220px;
  margin-left: 20px;
}

.bar-btn {
  font-size: 25px;
  color: black;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 100%;
  top: 120px;
  margin-left: -30px;
  background: rgba(0, 0, 0, .95);
  text-align: center;
  transition: all .5s;
}

.nav-menu li {
  display: none;
  line-height: 30px;
  margin: 40px 0;
  transition: all .5s;
}

.nav-menu li button {
    color: #fff;
    font-size: 37px;
    font-weight: 600;
    margin-top: 30px;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    background: none;
    border: none;
    text-shadow: 5px 4px 5px black;
    cursor: pointer;
}

.nav-menu li button.active, .nav-menu li button:hover {
  color: rgba(243, 168, 5, 0.842);
  transition: .3s;

}

#check {
  display:none;
}

#check:checked ~ .nav-menu {
  height: 670px;
}

#check:checked ~ .nav-menu li {
  display: block;
}


/* #menuSuperior {
  background-color: #3D3B3B;
  width: 100% auto;
  height: 100% auto;
  box-shadow: 5px 4px 5px black;
  opacity: 90%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
  flex-direction: row;
} */

#menuCentral ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-content: space-around;
  flex-direction: row;
}

#menuCentral li {
  padding: 12px 20px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-content: space-around;
  flex-direction: row;
}

.separador2 {
  color: #fff;
}

#menuCentral {
  background: #3D3B3B;
  height: auto;
  border-radius: 20px;
  margin-top: 190px;
  box-shadow: 5px 4px 5px black;
  display: flex;
  justify-content: space-around;
  justify-items: space-around;
  align-items: space-around;
  align-content: space-around;
  margin-right: 110px;
  margin-left: 70px;
  margin-bottom: 100px;
}

.ordenar {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  background: #3D3B3B;
  border-radius: 20px;
  box-shadow: 5px 4px 5px black;
  margin: 100px auto;
  max-width: 50%;
  padding: 4px 20px;
  margin-bottom: -25px;
  margin-top: 40px;
  height: auto;
}

.ordenar li {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 4px 20px;
  font-family: sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
}

.titulo1 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 83px;
  text-align: center;
  justify-content: center;
  color: white;
  background: #3D3B3B;
  margin: 100px auto;
  max-width: 750px;
  height: auto;
  width: auto;
  border-radius: 15px;
  box-shadow: 5px 4px 5px black;
}

.selectOrden {
  font-family: sans-serif;
  font-size: 25px;
  color: #fff;
  background-color: #3D3B3B;
  border: none;
  text-shadow: 5px 4px 5px black;
  cursor: pointer;

}

.contenedorImagenes {
  display: flex;
  max-width: 90%;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 100px auto;
  align-items: space-around;
  align-content: space-around;
  justify-content: space-around;
  justify-items: space-around;
}


.container2 {
  max-width: 700px;
  height: auto;
  border: 2px solid gray;
  margin: 100px auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  background-color: #3D3B3B;
  margin-top: -100px;
}

.containerVarios {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 550px;
  height: 650px;
  border: 5px solid rgb(22, 21, 21);
  margin: 10px;
  padding: 30px;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 2em;
  background-color: #3D3B3B;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 80px;
  border-style: dashed;
  box-shadow: 5px 4px 5px black;
}

#fundamentos {

  font-family: 'Nanum Myeongjo', serif;
  font-size: 18px;
  text-align: center;
  color: white;
  background: #3D3B3B;
  margin: 100px auto;
  max-width: 750px;
  height: auto;
  border-radius: 15px;
  box-shadow: 5px 4px 5px black;
  border-style: dashed;
  padding: 15px;
}

.menuHamburguesa {
  width: 30px;
  height: 30px;
  margin-right: 85px;
  margin-top: -35px;
  cursor: pointer;
}

.menuHamburguesa span {
  display: block;
  width: 60px;
  height: 8px;
  background: #1e1c1c;
  border-radius: 10px;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 600ms;
}

.menuHamburguesa:active .linea1 {
  transform: rotate(45deg) translate(-2px, 1px);
}

.menuHamburguesa:active .linea2 {
  opacity: 0;
  margin-left: 30px;
}


.menuHamburguesa:active .linea3 {
  transform: rotate(-45deg) translate(-4px, 2px);
}


.class-divData {
  background-color: rgb(26, 28, 29);
  display: inline-block;
  margin-top: 1%;
  cursor: pointer;
  border: 1px solid #937341;
  margin-left: 5px;
  border-radius: 18px;
}

.class-divData:hover {
  transform: scale(0.96);
  background: rgba(243, 168, 5, 0.842);
}

.class-divNosotras {
  background-color: rgb(6, 28, 37);
  display: inline-block;
  margin-top: 1%;
  cursor: pointer;
  border: 1px solid #937341;
  margin-left: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  width: 310px;
  height: 350px;
}

.class-divNosotras:hover {
  transform: scale(0.96);
  background: rgba(243, 168, 5, 0.842);
}

.class-img {
  margin: 0;
  width: 365px;
  height: 250px;
  border-radius: 15px;
}

.class-imgSilvia {
  margin: 0px;
  width: 307px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
  margin-bottom: 15px;
}

.class-imgValeria {
  margin: 0px;
  width: 308px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
  margin-bottom: 15px;
}

.class-name {
  font-size: 1em;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bolder;
  text-align: center;
  margin-top: -0.2em;
  padding: 0.10em;
  text-transform: uppercase;
  color: #fff;
  padding: 6% 8%;
  padding-top: 2%;
  padding-right: 8%;
  padding-bottom: 2%;
  padding-left: 8%;
}

.class-level {
  font-size: 13px;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  margin-top: -0.2em;
  padding: 0.10em;
  text-transform: uppercase;
  color: #fff;
  padding: 6% 8%;
  padding-top: 2%;
  padding-right: 8%;
  padding-bottom: 2%;
  padding-left: 8%;
}

.sobreJuegoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 14px;
  text-shadow: 5px 4px 5px black;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  height: 200em;
  background-image: url(img/fondo-ixtal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -150px;
}

.class-gifSobreJuego {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 5000px;
}

.containerNosotras {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  max-width: 850px;
  height: auto;
  margin: 100px auto;
  padding: 30px;
  margin-top: -100px;
}

.containerSobreJuego {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  max-width: 850px;
  height: auto;
  border: 2px solid gray;
  margin: 100px auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  background-color: #3D3B3B;
}

.estadisticasTexto {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  color: white;
  font-size: 18px;
}

.class-grafico {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: flex-end;
  width: 570px;
  height: 350px;
  margin-top: 45px;
}

.class-gifGrieta {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 5000px;
}

.class-gifNexo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.class-gifInhibidores {
  display: flex;
  justify-content: center;
  align-content: center;
}

.class-gifCalle {
  display: flex;
  justify-content: center;
  align-content: center;
}

.class-gifJungla {
  display: flex;
  justify-content: center;
  align-content: center;
}

.class-gifCalleInferior {
  display: flex;
  justify-content: center;
  align-content: center;
}

.class-gifApoyo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.gifApoyos {
  width: 350px;
  height: 200px;
}

.gifCalleInferior {
  width: 350px;
  height: 200px;
}

.gifJungla {
  width: 350px;
  height: 200px;
}

.gifCalle {
  width: 300px;
  height: 250px;
}

.gifInhibidores {
  width: 350px;
  height: 200px;
}

.gifGrieta {
  width: 450px;
  height: 300px;
}

.gifNexo {
  width: 350px;
  height: 220px;
}

.gifTorretas {
  width: 350px;
  height: 220px;
}

.gifSobrejuego {
  width: 450px;
  height: 290px;
}

.containerTextoyGrafico {
  display: flex;
  background-color: #3D3B3B;
  max-width: 1000px;
  height: 500px;
  border: 2px solid gray;
  margin: 100px auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  align-content: center;
  justify-content: space-around;
}

.nuevosJugadoresDiv {
  justify-content: center;
  align-items: center;
  color: rgb(245, 243, 243);
  text-align: center;
  font-size: 14px;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  background-image: url("img/fondolol-ruinas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 300em;
  margin-top: -150px;
}

.sobreNosotrasDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 14px;
  text-shadow: 5px 4px 5px black;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  height: 200em;
  background-image: url(img/fondo-targon.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -150px;
}

.estadisticasDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 200em;
  background-image: url(img/fondo-ioina.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -150px;
}
