@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 30px;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 14px;
  text-shadow: 5px 4px 5px black;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  background-image: url(img/Bilgewater\ \(Legends\ of\ Runeterra\).png);
  height: 200em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  width: 100%;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {

  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  background: none;
  border: none;
  text-shadow: 5px 4px 5px black;
  cursor: pointer;
  text-align: justify;
  text-align: center;
  display: flex;

}

.img {
  width: 220px;
  margin-left: 20px;
}

@media only screen
and (max-device-width: 768px) {
  .img {
    width: 300px;
  }

}

.bar-btn {
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 200px;
  background: rgba(0, 0, 0, .95);
  text-align: center;
  transition: all .5s;
}

.nav-menu li {
  display: none;
  line-height: 30px;
  margin: 80px 0;
  transition: all .5s;
}

.nav-menu li button {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    background: none;
    border: none;
    text-shadow: 5px 4px 5px black;
    cursor: pointer;
}

.nav-menu li button.active, .nav-menu li button:hover {
  color: rgba(243, 168, 5, 0.842);
  transition: .3s;

}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 650px;
  margin-left: -30px;
}

#check:checked ~ .nav-menu li {
  display: block;
}

@media only screen
and (min-device-width: 768px) {
  .img {
    margin-left: 50px;
  }

  nav {
    height: 100px;
  }

  .bar-btn {
    display: none;
  }

  .nav-menu {
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: center;
  }

  .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 50px;
    transition: none;
  }

  .nav-menu li button {
    font-size: 15px;
  }

}

#menuCentral ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
  flex-direction: row;
}

#menuCentral li {
  padding: 12px 20px;
  font-family: sans-serif;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
  flex-direction: row;
}

.separador2 {
  color: #fff;
}

#menuCentral {
  background: #3D3B3B;
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 190px;
  box-shadow: 5px 4px 5px black;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
  flex-direction: row;
}


@media only screen
and (max-device-width: 768px) {

#menuCentral li {
  padding: 15px 20px;
  font-size: 30px;
}

.button {
  font-size: 30px;
  font-weight: 400;
}

}

.ordenar {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  background: #3D3B3B;
  border-radius: 20px;
  box-shadow: 5px 4px 5px black;
  margin: 100px auto;
  max-width: 30%;
  padding: 4px 20px;
  margin-bottom: -75px;
  margin-top: 40px;
  height: auto;
}

.ordenar li {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 4px 20px;
  font-family: sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
}

.titulo1 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 63px;
  text-align: center;
  color: white;
  background: #3D3B3B;
  margin: 100px auto;
  max-width: 750px;
  height: auto;
  border-radius: 15px;
  box-shadow: 5px 4px 5px black;
}



.selectOrden {
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #3D3B3B;
  border: none;
  text-shadow: 5px 4px 5px black;
  cursor: pointer;

}

@media only screen
and (max-device-width: 768px) {
 
  .ordenar {
    max-width: 60%;
    margin-bottom: -45px;
    margin-top: 60px;
  }
  .selectOrden {
    font-size: 30px;
  }

  .titulo1 {
    font-size: 70px;
  }

}

.contenedorImagenes {
  display: flex;
  max-width: 90%;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 100px auto;
  align-items: space-around;
  align-content: space-around;
  justify-content: space-around;
  justify-items: space-around;
}

@media only screen
and (max-device-width: 768px) {

  .contenedorImagenes {
    width: 100%;
    margin-left: 80px;

  }
}


.container2 {
  max-width: 700px;
  height: auto;
  border: 2px solid gray;
  margin: 100px auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  font-family: 'Nanum Myeongjo', serif;
  background-color: #3D3B3B;
  margin-top: -100px;
}

@media only screen 
and (max-device-width: 768px){
  .container2 {
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;;
    line-height: 50px;
  }
}

.containerVarios {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 550px;
  height: 650px;
  border: 5px solid rgb(22, 21, 21);
  margin: 10px;
  padding: 30px;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 2em;
  background-color: #3D3B3B;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 80px;
  border-style: dashed;
  box-shadow: 5px 4px 5px black;
}

@media only screen 
and (max-device-width: 768px){
  .containerVarios {
    font-size: 30px;
    height: auto;
  }
}

#fundamentos {

  font-family: 'Nanum Myeongjo', serif;
  font-size: 18px;
  text-align: center;
  color: white;
  background: #3D3B3B;
  margin: 100px auto;
  max-width: 750px;
  height: auto;
  border-radius: 15px;
  box-shadow: 5px 4px 5px black;
  border-style: dashed;
  padding: 15px;
}

@media only screen 
and (max-device-width: 768px){
  #fundamentos {
    font-size: 26px;
    line-height: 65px;
  }
}


.menuHamburguesa {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 50px;
}

.menuHamburguesa span {
  display: block;
  width: 50px;
  height: 5px;
  background: black;
  border-radius: 10px;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 600ms;
}

.menuHamburguesa:active .linea1 {
  transform: rotate(45deg) translate(-2px, 1px);
}

.menuHamburguesa:active .linea2 {
  opacity: 0;
  margin-left: 30px;
}


.menuHamburguesa:active .linea3 {
  transform: rotate(-45deg) translate(-4px, 2px);
}


.class-divData {
  background-color: rgb(26, 28, 29);
  display: inline-block;
  margin-top: 1%;
  cursor: pointer;
  border: 1px solid #937341;
  margin-left: 11px;
  border-radius: 18px;
}

.class-divData:hover {
  transform: scale(0.96);
  background: rgba(243, 168, 5, 0.842);
}

.class-divNosotras {
  background-color: rgb(6, 28, 37);
  display: inline-block;
  margin-top: 1%;
  cursor: pointer;
  border: 1px solid #937341;
  margin-left: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  width: 310px;
  height: auto;
}

@media only screen 
and (max-device-width: 768px){
  .class-divNosotras {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.class-divNosotras:hover {
  transform: scale(0.96);
  background: rgba(243, 168, 5, 0.842);
}

.class-img {
  margin: 0;
  width: 315px;
  height: 210px;
  border-radius: 15px;
}

@media only screen
and (max-device-width: 768px) {

  .class-img {
    width: 365px;
    height: 250px;
  }
}

.class-imgSilvia {
  margin: 0px;
  width: 307px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
  margin-bottom: 15px;
}

.class-imgValeria {
  margin: 0px;
  width: 308px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
  margin-bottom: 15px;
}

.class-name {
  font-size: 16px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bolder;
  text-align: center;
  margin-top: -0.2em;
  padding: 0.10em;
  text-transform: uppercase;
  color: #fff;
  padding: 6% 8%;
  padding-top: 2%;
  padding-right: 8%;
  padding-bottom: 2%;
  padding-left: 8%;
}

@media only screen 
and (max-device-width: 768px){
  .class-name {
    font-size: 30px;
  
  }
}

.class-level {
  font-size: 13px;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  margin-top: -0.2em;
  padding: 0.10em;
  text-transform: uppercase;
  color: #fff;
  padding: 6% 8%;
  padding-top: 2%;
  padding-right: 8%;
  padding-bottom: 2%;
  padding-left: 8%;
}

.sobreJuegoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 14px;
  text-shadow: 5px 4px 5px black;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  background-image: url(img/fondo-ixtal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 300em;
  margin-top: -150px;
  margin-right: -40px;
  margin-left: -40px;
}

.class-gifSobreJuego {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 5000px;
}

.containerNosotras {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  max-width: 850px;
  height: auto;
  margin: 100px auto;
  padding: 30px;
  margin-top: -100px;
}

.containerSobreJuego {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  max-width: 850px;
  height: auto;
  border: 2px solid gray;
  margin: 100px auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  font-family: 'Nanum Myeongjo', serif;
  background-color: #3D3B3B;
}

@media only screen 
and (max-device-width: 768px){
  .containerSobreJuego {
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;;
    line-height: 50px;
  }
  
}

.estadisticasTexto {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  color: white;
  font-size: 18px;
  font-family: 'Nanum Myeongjo', serif;
}

@media only screen 
and (max-device-width: 768px){
  .estadisticasTexto {
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;;
  }
}

.class-grafico {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: flex-end;
  width: 570px;
  height: 350px;
  margin-top: 45px;
}

.class-gifGrieta {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 5000px;
}

.class-gifNexo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.class-gifInhibidores {
  display: flex;
  justify-content: center;
  align-content: center;
}

.class-gifCalle {
  display: flex;
  justify-content: center;
  align-content: center;
}

.class-gifJungla {
  display: flex;
  justify-content: center;
  align-content: center;
}

.class-gifCalleInferior {
  display: flex;
  justify-content: center;
  align-content: center;
}

.class-gifApoyo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.gifApoyos {
  width: 350px;
  height: 200px;
}

.gifCalleInferior {
  width: 350px;
  height: 200px;
}

.gifJungla {
  width: 350px;
  height: 200px;
}

.gifCalle {
  width: 300px;
  height: 250px;
}

.gifInhibidores {
  width: 350px;
  height: 200px;
}

.gifGrieta {
  width: 450px;
  height: 300px;
}

.gifNexo {
  width: 350px;
  height: 220px;
}

.gifTorretas {
  width: 350px;
  height: 220px;
}

.gifSobrejuego {
  width: 450px;
  height: 290px;
}

.containerTextoyGrafico {
  display: flex;
  background-color: #3D3B3B;
  max-width: 1000px;
  height: 500px;
  border: 2px solid gray;
  margin: 100px auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  align-content: center;
  justify-content: space-around;
}

.nuevosJugadoresDiv {
  justify-content: center;
  align-items: center;
  color: rgb(245, 243, 243);
  text-align: center;
  font-size: 14px;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  background-image: url("img/fondolol-ruinas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 300em;
  margin-top: -150px;
  margin-right: -40px;
  margin-left: -40px;
}

@media only screen 
and (max-device-width: 768px){
  .nuevosJugadoresDiv {
    height: 1000em;
  }
}

.sobreNosotrasDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 14px;
  text-shadow: 5px 4px 5px black;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  height: 200em;
  background-image: url(img/fondo-targon.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 300em;
  margin-top: -150px;
  margin-right: -40px;
  margin-left: -40px;
}

.estadisticasDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 200em;
  background-image: url(img/fondo-ioina.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -150px;
  height: 300em;
  margin-right: -40px;
  margin-left: -40px;
}